<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEySLwWudKvdBKzydEOBpZQ47Elvy8NA0</string>
	<key>GCM_SENDER_ID</key>
	<string>685218851876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iti.mad45-sv.ios-team3.Shopped-In</string>
	<key>PROJECT_ID</key>
	<string>ios-team3-shopped-in</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-team3-shopped-in.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685218851876:ios:aaf6e4a73c0cbf60babcb1</string>
</dict>
</plist>